.devmode{
    background-color: red;
    color: #ff9797;
    text-align:center;
}

table table-bordered table-striped text-center.text-center.w-15 btn-group.btn btn-primary mx-4 {
    background-color: #C80000;
}


